<!DOCTYPE>
<html>
    <head>
        <title>
            Calculator
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/app.css">        
    </head>

    <body>
        <header>
            <nav>
                <a href="" onclick="logout(this)" id="logout" style="display: none;">Logout</a> 
                <a href="#calculator" id="calculatorNav" onclick="goTo(this)" style="display: none;">Calculator</a> 
                <a href="#users" id="usersNav" onclick="goTo(this)" style="display: none;">Users</a>
            </nav>
        </header>

        <section class="container" id="calculator" style="display: none;">
            <table>
                <tr>
                    <td><button onclick="buttonPush(this)">C</button></td>
                    <td colspan="3" id="calculator-input">0</td>                    
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">7</button></td>
                    <td><button onclick="buttonPush(this)">8</button></td>
                    <td><button onclick="buttonPush(this)">9</button></td>
                    <td><button onclick="buttonPush(this)">+</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">4</button></td>
                    <td><button onclick="buttonPush(this)">5</button></td>
                    <td><button onclick="buttonPush(this)">6</button></td>
                    <td><button onclick="buttonPush(this)">-</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">1</button></td>
                    <td><button onclick="buttonPush(this)">2</button></td>
                    <td><button onclick="buttonPush(this)">3</button></td>
                    <td><button onclick="buttonPush(this)">*</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">0</button></td>
                    <td><button onclick="buttonPush(this)">.</button></td>
                    <td><button onclick="buttonPush(this)">=</button></td>
                    <td><button onclick="buttonPush(this)">/</button></td>
                </tr>
            </table>
        </section>

        <div id="login">
            <div class="login-box">
                <img src="../styles/images/avatar.jpg" class="avatar">
                <h1>Login Here</h1>
                <form id="formLogin" method="post" action="" onsubmit="return false;">
                    <p>Username</p>
                    <input type="text" name="usernameLogin" id="usernameLogin" placeholder="Enter Username" required>
                    <p>Password</p>
                    <input type="password" name="passwordLogin" id="passwordLogin" placeholder="Enter Password" required>
                    <input type="submit" name="loginSubmit" id="loginSubmit" value="Login">
                    <a href="#register" onclick="goTo(this)">Create an account</a> 
                    <p id="errMsg" style="color: red"></p> 
                    <div class="loader" id="loader" style="display: none;"></div>
                </form>                
            </div>        
        </div>

        <div id="register" style="display: none;"method="post" action="" onsubmit="return false;">
            <div class="login-box">
                <img src="../styles/images/avatar.jpg" class="avatar">
                <h1>Register</h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="username" id="username" placeholder="Enter Username" required>
                    <p>Email</p>
                    <input type="email" name="email" id="email" placeholder="Enter Email" required>
                    <p>Password</p>
                    <input type="password" name="password" id="password" placeholder="Enter Password" required>
                    <p>Confirm password</p>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter Password" required>
                    <input type="submit" name="submit" id="submit" value="Register">                    
                    <a href="#login" onclick="goTo(null, 'login')">Login to your account</a>
                    <p id="errMsg" style="color: red"></p> 
                </form>                
            </div> 
        </div> 
        
        <div id="users" style="display: none;">
            <table id="usersTable">
                <tr class="tableHeader">
                    <td>Name</td>
                    <td>Email</td>
                    <td>Ban</td>
                </tr>

            </table>
        </div>

        <footer>

        </footer>

        <script src="../scripts/script.js"></script>
    </body>
</html>