<!DOCTYPE>
<html>
    <head>
        <title>
            Calculator
        </title>
        <link rel="stylesheet" href="../styles/app.css">
    </head>

    <body>
        <header>
            <nav>
                <a href="#login" onclick="goTo(this)">Login</a> |
                <a href="#calculator" onclick="goTo(this)">Calculator</a> |
                <a href="#users" onclick="goTo(this)">Users</a>
            </nav>
        </header>

        <section class="container" id="calculator" style="display: none;">
            <table>
                <tr>
                    <td><button onclick="buttonPush(this)">C</button></td>
                    <td colspan="3" id="calculator-input">0</td>                    
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">7</button></td>
                    <td><button onclick="buttonPush(this)">8</button></td>
                    <td><button onclick="buttonPush(this)">9</button></td>
                    <td><button onclick="buttonPush(this)">+</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">4</button></td>
                    <td><button onclick="buttonPush(this)">5</button></td>
                    <td><button onclick="buttonPush(this)">6</button></td>
                    <td><button onclick="buttonPush(this)">-</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">1</button></td>
                    <td><button onclick="buttonPush(this)">2</button></td>
                    <td><button onclick="buttonPush(this)">3</button></td>
                    <td><button onclick="buttonPush(this)">*</button></td>
                </tr>
                <tr>
                    <td><button onclick="buttonPush(this)">0</button></td>
                    <td><button onclick="buttonPush(this)">.</button></td>
                    <td><button onclick="buttonPush(this)">=</button></td>
                    <td><button onclick="buttonPush(this)">/</button></td>
                </tr>
            </table>
        </section>

        <div id="login">
            <div class="login-box">
                <img src="../styles/images/avatar.jpg" class="avatar">
                <h1>Login Here</h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter Password">
                    <input type="submit" name="submit" value="Login">
                    <a href="#register" onclick="goTo(this)">Create an account</a>  
                </form>                
            </div>        
        </div>

        <div id="register" style="display: none;">
            <div class="login-box">
                <img src="../styles/images/avatar.jpg" class="avatar">
                <h1>Register</h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Enter Username">
                    <p>Email</p>
                    <input type="email" name="email" placeholder="Enter Email">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter Password">
                    <p>Confirm password</p>
                    <input type="password" name="confirmPassword" placeholder="Enter Password">
                    <input type="submit" name="submit" value="Register">
                </form>                
            </div> 
        </div>

        <footer>

        </footer>

        <script src="../scripts/script.js"></script>
    </body>
</html>