button {
  border: none;
  background-color: #c2c2d6;
  color: #009999;
  height: 70px;
  width: 70px;
  font-size: 20px;
  cursor: pointer; }

button:hover {
  background-color: #aeaec2; }

button:active {
  background-color: #a4a4b8;
  font-size: 40px; }

.container {
  border: 2px solid;
  border-color: #005ce6;
  width: 400px;
  height: 500px;
  position: relative;
  margin: 100px auto;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5); }

table {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 0px;
  box-sizing: border-box; }

#calculator-input {
  color: #e95083;
  font-size: 30px;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 100px;
  word-wrap: break-word; }

body {
  margin: 0;
  padding: 0;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif; }

.login-box {
  width: 320px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  padding-bottom: 20px;
  margin-top: 50px; }

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px); }

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px; }

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold; }

.login-box input {
  width: 100%;
  margin-bottom: 20px; }

.login-box input[type="text"], input[type="password"], input[type="email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; }

.login-box input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder {
  color: #c2c2d6; }

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px; }

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000; }

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff; }

.login-box a:hover {
  color: #39dc79; }

nav {
  background-color: white;
  padding: 30px;
  opacity: 0.7;
  font-size: 20px;
  color: #fff; }

a:link {
  text-decoration: none;
  color: #005ce6; }

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 10px;
  position: relative;
  left: calc(50% - 25px); }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#errMsg {
  margin-top: 5px; }

table {
  background-color: black;
  opacity: 0.6;
  color: white; }

tr {
  transition: all 0.2s ease-out; }

tr:hover {
  font-size: 20px; }

.tableHeader {
  font-size: 40px; }

.tableHeader:hover {
  font-size: 40px;
  color: white; }

/*# sourceMappingURL=app.css.map */
